# vendor/asm89/
# vendor/bin/

# vendor/chi-teck/

# vendor/composer/

# vendor/consolidation/

# vendor/container-interop/
# vendor/dflydev/
# vendor/dnoegel/
# vendor/doctrine/

# vendor/drupal/
# vendor/drush/
# vendor/easyrdf/
# vendor/egulias/
# vendor/grasmash/
# vendor/guzzlehttp/

# vendor/laminas/
# vendor/league/
# vendor/masterminds/
# vendor/nikic/
# vendor/paragonie/

# vendor/pear/
# vendor/psr/
# vendor/psy/
# vendor/ralouphie/
# vendor/stack/

# vendor/symfony/

# vendor/symfony-cmf/
# vendor/twig/

# vendor/typo3/
# vendor/webflo/
# vendor/webmozart/
# vendor/autoload.php

# web/
# web/core/
# web/core/assets/

# web/core/config/
# web/core/includes/
# web/core/lib/

# web/core/misc/
# web/core/modules/
# web/core/modules/action/
# web/core/modules/aggregator/
# web/core/modules/automated_cron/

# web/core/modules/ban/
# web/core/modules/basic_auth/
# web/core/modules/big_pipe/
# web/core/modules/block/
# web/core/modules/block_content/
# web/core/modules/block_place/
# web/core/modules/book/
# web/core/modules/breakpoint/
# web/core/modules/ckeditor/

# web/core/modules/color/
# web/core/modules/comment/
# web/core/modules/config/
# web/core/modules/config_translation/

# web/core/modules/contact/
# web/core/modules/content_moderation/
# web/core/modules/content_translation/

# web/core/modules/contextual/
# web/core/modules/datetime/
# web/core/modules/datetime_range/
# web/core/modules/dblog/
# web/core/modules/dynamic_page_cache/
# web/core/modules/editor/

# web/core/modules/entity_reference/
# web/core/modules/field/
# web/core/modules/field_layout/
# web/core/modules/field_ui/

# web/core/modules/file/
# web/core/modules/filter/
# web/core/modules/forum/
# web/core/modules/hal/
# web/core/modules/help/
# web/core/modules/help_topics/

# web/core/modules/history/
# web/core/modules/image/
# web/core/modules/inline_form_errors/
# web/core/modules/jsonapi/
# web/core/modules/language/
# web/core/modules/layout_builder/

# web/core/modules/layout_discovery/
# web/core/modules/link/
# web/core/modules/locale/
# web/core/modules/media/
# web/core/modules/media_library/
# web/core/modules/menu_link_content/

# web/core/modules/menu_ui/
# web/core/modules/migrate/
# web/core/modules/migrate_drupal/
# web/core/modules/migrate_drupal_multilingual/
# web/core/modules/migrate_drupal_ui/
# web/core/modules/node/

# web/core/modules/options/
# web/core/modules/page_cache/
# web/core/modules/path/
# web/core/modules/path_alias/
# web/core/modules/quickedit/
# web/core/modules/rdf/
# web/core/modules/responsive_image/
# web/core/modules/rest/
# web/core/modules/search/

# web/core/modules/serilization/
# web/core/modules/settings_tray/
# web/core/modules/shortcut/
# web/core/modules/simpletest/
# web/core/modules/statistics/
# web/core/modules/syslog/
# web/core/modules/system/

# web/core/modules/taxonomy/
# web/core/modules/telephone/
# web/core/modules/text/

# web/core/modules/toolbar/
# web/core/modules/tour/
# web/core/modules/tracker/

# web/core/modules/update/
# web/core/modules/user/
# web/core/modules/views/

# web/core/modules/views_ui/
# web/core/modules/workflows/
# web/core/modules/workspaces/

# web/core/profiles/

# web/core/scripts/

# web/core/tests/
# web/core/tests/Drupal/

# web/core/tests/Drupal/BuildTests/
# web/core/tests/Drupal/FunctionalJavascriptTests/

# web/core/tests/Drupal/FunctionalTests/
# web/core/tests/Drupal/KernelTests/

# web/core/tests/Drupal/Nightwatch/
# web/core/tests/Drupal/Tests/
# web/core/tests/Drupal/TestSite/

# web/core/tests/Drupal/TestTools/
# web/core/tests/Fixtures/
# web/core/tests/TestSuites/

# web/core/themes/

# web/modules/

# web/profiles/

# web/sites/

# web/themes/

.editorconfig
# .gitattributes
.vscode/
# composer.json
# composer.lock
